@charset "UTF-8";

/* Typical Device Breakpoints (Padrões Tamanho de Tela) segundo o W3C
   ------------------------------------------------------------------ 
Pequenas telas: até 600px
Celulares: de 600px até 768px
Tablets: de 768 até 992px
Desktop: de 992 até 1200px
Grandes telas: +1200px
*/

/* 
COR: #2CCB69
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*font-family: 'Abril Fatface', cursive;*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

p, label {
    font-family: 'Open Sans', 'sans-serif';
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeFromLeft {
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideTopIn {
    to {
        top: 10%;
    }
}

@keyframes scaleRight {
    to {
        transform: scaleX(1);
    }
}

@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}

@keyframes lineDown {
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}

@keyframes arrowDown {
    0% {
        bottom: 25px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 5px;
        opacity: 0;
    }
}



@media screen and (min-width: 320px) {
    .jl-page-wrapper, .jl-preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid black
    }

    .jl-preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    .jl-preloader-inner {
        margin-top: -45px;
    }

    .jl-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(44, 203, 105, 0.95);
    }

    .jl-modal {
        width: 800px;
        display: none;
        position: fixed;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1200;
    }

    .jl-modal-header, .jl-modal-body, .jl-form {
        width: 100%;
        display: table;
        position: relative;
    }

    .jl-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: none;
        color: #2CCB69;
        background-color: #2f2f2f;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -15px;
    }

    .jl-form label {
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;
    }

    .jl-campo, .jl-textarea {
        width: 100%;
        background-color: #2f2f2f;
        border-radius: 4px;
        color: #ffffff;
        border: none;
        font-size: 16px;
        padding-left: 15px;
    }

    .jl-campo {
        height: 45px;
    }

    .jl-topbar {
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
    }

    .jl-logo {
        width: 74px;
        height: 110px;
        background-color: #2CCB69;
        float: left;
        margin-left: 60px;
        border-radius: 0 0 37px 0;
    }

    .jl-logo > img {
        width: 47px;
        height: 40px;
        display: block;
        margin: 50px auto 0 auto;
    }

    .jl-menu {
        display: none;
    }

    .jl-botao-contato {
        width: 48px;
        height: 48px;
        display: block;
        background-color: #2CCB69;
        background-image: url('imagens/icone-email-fechar.png');
        background-repeat: no-repeat;
        background-position: top center;
        border-radius: 50%;
        border: none;
        position: fixed;
        bottom: 45px;
        right: 45px;
        z-index: 200;
        transition: all .2s ease-out;
        cursor: pointer;
    }

    /*.jl-botao-contato:hover {
        background-position-y: -45px;
    }  ESSE ROVER EVOLUIU PARA UMA FUNÇÃO EM JS*/

    .jl-contato-info {
        width: 245px;
        height: 165px;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
    }

    .jl-contato-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contato-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }

    .jl-social-links > a {
        margin-top: 2px;
        width: 45px;
        height: 45px;
        padding: 4px;
        display: inline-block;
        background-color: #2CCB69;
        border-radius: 50%;
    }

    .jl-social-links > a > img {
        position: fixed;
        bottom: 20,5%;
    }

    .jl-cantoneira {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }

    .jl-cantoneira:after {
        content: '';
        width: 25px;
        height: 29px;
        display: block;
        position: absolute;
        bottom: -25px;
        right: 0;
        background: transparent url('imagens/cantoneira.png') no-repeat;
    }

    /*---HOME---*/

    .jl-display-texto {
        margin-top: 10%;
    }

    #jl-home-apresentacao {
        background-image: url('imagens/joao-lemon-foto-home.png');
        background-repeat: no-repeat;
        background-position: 50% top;
        position: relative;
    }

    .jl-role-abaixo {
        width: 70px;
        height: 105px;
        border-radius: 35px 35px 0 0;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .jl-seta-abaixo {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }

    .jl-seta-abaixo img {
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s linear 1.5s infinite;
    }

    .jl-seta-abaixo:before {
        content: '';
        background-color: #000000;
        width: 2px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: lineDown 1.5s ease-out infinite;
        transform-origin: top center;
    }

    /*---HOME PORTFÓLIO---*/

    .jl-portfolio-navigator {
        width: 145px;
        height: 400px;
        display: table;
        position: absolute;
        left: 15px;
        top: 25vh;
    }

    .jl-navigator-contador {
        width: 100%;
        height: 90px;
        display: block;
        margin-bottom: 30px;
        position: relative;
    }

    .jl-navigator-contador:before {
        content: '';
        display: block;
        width: 29px;
        height: 100%;
        background-color: #1C1C1C;
        position: absolute;
        top: 0;
        left: 0;
    }

    .jl-navigator-contador span {
        font-family: 'Open Sans', sans-serif;
        font-size: 85px;
        line-height: 70px;
        font-weight: 600;
    }

    .jl-item-navigator {
        width: 100%;
        display: table;
    }

    .jl-item-navigator a {
        width: 20px;
        height: 1px;
        display: block;
        margin: 0 0 60px 30px;
        background-color: #4D4C4C;
    }

    .jl-item-navigator a.jl-item-ativo {
        background-color: #2CCB69;
    }

    .jl-item-navigator a:last-child {
        margin-bottom: 20px;
    }

    .jl-itens-next-prev {
        width: 80%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2c2c2c;
        border-radius: 23px;
    }

    .jl-itens-next-prev > div {
        height: 25px;
    }

    .jl-itens-contador {
        font-family: 'Open Sans', sans-serif;
        color: #4D4C4C;
        line-height: 25px;
    }

    .jl-item-prev, .jl-item-next {
        width: 45px;
        color: #2CCB69;
        text-align: center;
        cursor: pointer;
    }

    .jl-itens-contador span:nth-child(1) {
        color: #BCBCBC;
    }

    ion-icon {
        font-size: 25px;
      }

    .jl-slider-container {
        display: block;
        overflow: hidden;
    }

    .jl-slider-list {
        width: auto;
        height: 500px;
        display: block;
        list-style: none;
    }

    .jl-slider-list .jl-portfolio-item {
        display: block;
        float: left;
        height: 400px;
        margin-top: calc(26vh - 75px);
    }
    
    .jl-portfolio-list {
        list-style: none;
    }

    .jl-portfolio-list .jl-slider-item {
        
    }

    .jl-slider-list .jl-portfolio-item-info {
        width: 100%;
        display: table;
        margin-top: 60px;
        position: relative;
        opacity: 0;
        left: -60px;
    }

    .jl-portfolio-list .jl-portfolio-item-info {
        width: calc(100% - 35px);
    }

    .jl-slider-list .jl-portfolio-item-thumb, .jl-portfolio-list .jl-portfolio-item-thumb {
        margin-top: 40px;
        width: 100%;
        display: table;
        padding: 35px 0 6px 0;
        position: relative;
    }

    .jl-slider-list .jl-portfolio-item-thumb > button, .jl-portfolio-list .jl-portfolio-item-thumb > button {
        margin-top: 2px;
        margin-right: 35px;
        float: right;
    }

    .jl-slider-list .jl-portfolio-item-box, .jl-portfolio-list .jl-portfolio-item-box {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
    }

    .jl-portfolio-list .jl-portfolio-item-box {
        transform: scaleX(1);
    }

    .jl-slider-list .jl-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -35px;
        transform: scale(0);
    }

    .jl-portfolio-list .jl-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -35px;
    }


    /*---PORTFÓLIO---*/
    .jl-section-offset-top {
        margin-top: 100px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info {
        text-align: right;
        margin-top: 58px;
    }
    
    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info button {
        float: right;
    }
    
    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info {
        margin-top: 58px;
        margin-left: 58px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row {
        flex-direction: row-reverse;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img {
        float: left;
        left: 35px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb button {
        float: left;
        margin-left: 35px;
        margin-top: 5px;
    }
}



@media screen and (min-width: 992px) {
    .jl-menu {
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }

    .jl-menu a {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #BCBCBC;
        margin: 55px 20px 0 20px; 
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        font-weight: 400;
        position: relative;
        
    }

    .jl-menu a:first-child {
        margin-left: 0;
    }

    .jl-menu a:hover {
        color: #2CCB69;

    }

    .jl-menu a:before {
        content: '';
        width: 0;
        height: 4px;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;
    }

    .jl-menu a:hover:before {
        width: 100%;
    }

}

/*BOTÕES*/

.jl-botao {
    display: table;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: lowercase;
    position: relative;
}

.jl-botao ion-icon {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.jl-botao-block {
    display: block;
    width: 100%;
}

.jl-botao-peq {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 11px;
}

.jl-botao-medio {
    height: 38px;
    line-height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
}

.jl-botao-grande {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}

.jl-botao-verde {
    background-color: #2CCB69;
    color: #1C1C1C;
}

.jl-botao-verde:hover {
    background-color: rgb(6, 135, 55);
    color: #ffffff;
    /*transform: scale(1.2);*/
}

.jl-botao-dark-cinza {
    background-color: #151515;
    color: #2CCB69;
}

.jl-botao-dark-cinza:hover {
    background-color: #2f2f2f;
    color: #ffffff;
    /*transform: scale(1.2);*/
}


/*CLASSES UTILITÁRIAS*/

.jl-titulo {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.jl-titulo-medio {
    font-size: 60px;
}

.jl-titulo-grande {
    font-size: 100px;
}

.jl-texto-verde {
    color: #2CCB69;
}

.jl-texto-dark-cinza {
    color: #4D4C4C;
}

.jl-light-cinza {
    color: #BCBCBC;
}

.jl-texto-preto {
    color: #000000;
}


.jl-bg-verde {
    background-color: #2CCB69;
}

.jl-bg-dark-cinza {
    background-color: #4D4C4C;
}

.jl-bg-light-cinza {
    background-color: #BCBCBC;
}

.jl-bg-preto {
    background-color: #000000;
}


.jl-mrg-15 {
    margin: 15px;
}

.jl-mrg-top-15 {
    margin-top: 15px;
}

.jl-mrg-right-15 {
    margin-right: 15px;
}

.jl-mrg-bottom-15 {
    margin-bottom: 15px;
}

.jl-mrg-left-15 {
    margin-left: 15px;
}

.jl-padding-15 {
    padding: 15px;
}

.jl-padding-top-15 {
    padding-top: 15px;
}

.jl-padding-right-15 {
    padding-right: 15px;
}

.jl-padding-bottom-15 {
    padding-bottom: 15px;
}

.jl-padding-left-15 {
    padding-left: 15px;
}

.jl-mrg-30 {
    margin: 30px;
}

.jl-mrg-top-30 {
    margin-top: 30px;
}

.jl-mrg-right-30 {
    margin-right: 30px;
}

.jl-mrg-bottom-30 {
    margin-bottom: 30px;
}

.jl-mrg-left-30 {
    margin-left: 30px;
}

.jl-padding-30 {
    padding: 30px;
}

.jl-padding-top-30 {
    padding-top: 30px;
}

.jl-padding-right-30 {
    padding-right: 30px;
}

.jl-padding-bottom-30 {
    padding-bottom: 30px;
}

.jl-padding-left-30 {
    padding-left: 30px;
}

.jl-altura-total {
    height: 100vh;
    position: relative;
}

.jl-section01 {
    height: calc(100vh - 30px);
}

.jl-no-padding {
    padding: 0 !important;
}


/*CLASSES DE COMPORTAMENTO*/

.jl-aberto {
    display: block;
}

.jl-slide-top-in {
    animation: slideTopIn .6s forwards;
}

.jl-mudar-icone {
    background-position-y: -45px;
}

.jl-fade-out {
    animation: fadeOut 2s forwards ease-out;
}

.jl-fade-from-left {
    animation: fadeFromLeft 2s 0.7s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-right {
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-up {
    animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jl-no-radius-right {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0; 
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: rgb(219, 86, 108);
}